<!DOCTYPE html>
<html>
  <link>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <form id="schedule-form">
      <label for="recipient">Recipient:</label><br>
      <input type="text" id="recipient" name="recipient" placeholder="+557188888888"><br>
      <label for="message">Message:</label><br>
      <textarea id="message" name="message"></textarea><br>
      <label for="scheduled-time">Scheduled Time:</label><br>
      <input type="datetime-local" id="scheduled-time" name="scheduled-time"><br><br>
      <button type="submit">Send</button>
    </form> 

    <script src="scripts/script.js"></script>
  </body>
</html>
